@font-face {
    font-family: great_vibes;
    src: url(./fonts/great_vibes/GreatVibes-Regular.ttf);
}
@font-face {
    font-family: poiret;
    src: url(./fonts/poiret/PoiretOne-Regular.ttf);
}
@font-face {
    font-family: atomic;
    src: url(fonts/atomic/AtomicAge-Regular.ttf);
}
@font-face {
    font-family: tangerine;
    src: url(./fonts/tangerine/Tangerine-Bold.ttf);
}
@font-face {
    font-family: griffy;
    src: url(./fonts/griffy/Griffy-Regular.ttf);
}
@font-face {
    font-family: lavish;
    src: url(./fonts/lavish/LavishlyYours-Regular.ttf);
}
* {
    box-sizing: border-box;
}
body {
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
}
h1 {
    color: #3E2A35;
    margin: 2%;
    font-size: 70px;
    font-family: great_vibes;
    margin-bottom: 2px;
    display: inline;
}
.borzoi {
    color: #3E2A35;
    margin: 2%;
    font-size: 70px;
    font-family: poiret;
    margin-bottom: 2px;
    display: inline;
}
.h1a {
    color: darkcyan;
    font-family: atomic;
}
.h1b {
    color: #D6DBD2;
    font-family: lavish;
    font-size: 80px;
}
.h1c {
    color: #D6DBD2;
    font-family: griffy;
    font-size: 80px;
    font-style: italic;
}
.greyh1 {
    color: #D6DBD2;
    margin: 2%;
    font-family: tangerine;
    font-size: 80px;
    margin-bottom: 2px;
    display: inline;
}
p {
    color: #3E2A35;
    margin: 2%;
    margin-top: 2px;
    text-align: justify;
    font-family: great_vibes;
}
.borP {
    color: black;
    margin: 2%;
    margin-top: 2px;
    text-align: justify;
    font-family: poiret;
}
.p1 {
    color: darkcyan;
    font-family: atomic;
}
.p2 {
    color: #D6DBD2;
    font-family: tangerine;
    font-size: 20px;
}
.p3 {
    color: #D6DBD2;
    font-family: griffy;
}
.p4{
    font-family: lavish;
    color: #D6DBD2;
}
.borSum {
    color: #3E2A35;
    font-family: poiret;
    font-size: 30px;
    list-style: disc;
}
.summary1 {
    color: darkcyan;
    font-family: atomic;
    font-size: 30px;
    list-style: disc;
    
}
.summary2 {
    color: #D6DBD2;
    font-family: tangerine;
    font-size: 40px;
    list-style: disc;
}
.summary3 {
    color: #D6DBD2;
    font-family: griffy;
    font-size: 30px;
    list-style: disc;
}
.summary4 {
    color: #D6DBD2;
    font-family: lavish;
    font-size: 30px;
    text-align: left;
    list-style: disc;
}
li {
    font-family: great_vibes;
    font-size: 30px;
    margin-right: 2%;
    margin-left: 80%;
    color: #3E2A35;
}
.ul1 {
    margin-left: 70%;
    margin-right: 2%;
}
.ul2 {
margin-left: 2%;
}

a:link, a:visited {
    color: #3E2A35;
    background-color: transparent;
    text-decoration: none;
}

a:hover, a:active {
    color: #3E2A35;
    background-color: transparent;
    text-decoration: underline;
}
