* {
    box-sizing: border-box;
}
h1 {
    margin: 2%;
    font-size: 70px;
    font-family: cursive;
    margin-bottom: 2px;
    display: inline;
}
p {
    margin: 2%;
    margin-top: 2px;
    text-align: justify;
    font-style: italic;
}
summary {
font-family: cursive;
font-size: 30px;
}